@import "tailwindcss";
@import "@wordpress/block-library/build-style/style.css";

body {
  font-family: var(--font-inter), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat), sans-serif;
}

@media (max-width: 760px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 39px; /* Set line height for all headings on mobile */
  }
}

/* @font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mont';
  src: url('/fonts/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

.Primary-color {
  color: #001568;
}
.Secondary-color {
  color: #0065ec;
}
.paragraph-color {
  color: #334486;
  line-height: 30px;
}

.content strong {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}

/* ========== SERVICE DETAILS SECTION ========== */
.service-details {
  display: flex;
  flex-direction: column;
  gap: 3.5rem; /* gap-14 */
  margin-top: 2.5rem;
  padding-bottom: 40px;
}

@media (min-width: 640px) {
  .service-details {
    margin-top: 3.5rem;
    padding-bottom: 70px;
  }
}

@media (min-width: 1280px) {
  .service-details {
    gap: 5.5rem; /* xl:gap-22 */
  }
}

/* ---------- Each Service Block ---------- */
.service-details .wp-block-columns {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
}

@media (min-width: 1280px) {
  .service-details .wp-block-columns {
    flex-direction: row;
    align-items: center;
  }

  /* Make image container wider */
  .service-details .wp-block-image {
    width: 60%;
    margin-right: -10rem;
  }

  /* Adjust content position to overlap */
  .service-details .wp-block-column.is-layout-flow {
    position: relative;
    margin-left: -10rem; 
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 2rem;
    /* padding: 70px; */
    /* width: 50%; */
    z-index: 10; /* Ensure content stays above image */
  }

  /* Reverse layout for even items */
  /* .service-details .wp-block-columns:nth-child(even) {
    flex-direction: row-reverse;
  } */

  /* .service-details .wp-block-columns:nth-child(even) .wp-block-image {
    margin-right: 0;
    margin-left: -10rem;
  }

  .service-details .wp-block-columns:nth-child(even) .wp-block-column.is-layout-flow {
    margin-left: 0;
    margin-right: -10rem;
  } */
}

/* ---------- Image Section ---------- */
.service-details .wp-block-image {
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.service-details .wp-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem; /* rounded-3xl */
}

@media (min-width: 768px) {
  .service-details .wp-block-image {
    height: 400px;
  }
}

@media (min-width: 1280px) {
  .service-details .wp-block-image {
    width: 100%;
    height: 561px;
    margin-bottom: 0;
  }

}

/* ---------- Content Section ---------- */
.service-details .wp-block-column.is-layout-flow {
  background-color: #ffffff;
  border-radius: 2rem;
  width: 100%;
  z-index: 10;
}

@media (min-width: 1280px) {
  .service-details .wp-block-column.is-layout-flow {
    border: 1px solid #e5e7eb;
    max-width: 680px;
    width: 50%;
  }
}

/* ---------- Heading ---------- */
.service-details h2.wp-block-heading {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 600;
  color: #001568;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 1rem;
  /* padding: 50px; */
  padding: 50px 0 0 50px;
}

@media (min-width: 768px) {
  .service-details h2.wp-block-heading {
    font-size: 34px;
  }
}

/* ---------- Paragraph / Text ---------- */
.service-details p {
  font-family: var(--font-inter), sans-serif;
  color: #334486;
  font-size: 17px;
  line-height: 30px;
  padding-left: 53px;
  padding-bottom: 50px;
}
